---
export interface Props {
  headings: { depth: number; text: string; slug: string }[];
}

const { headings } = Astro.props;
---

<p class="text-body-medium text-on-surface-variant">On this page</p>
<ul>
  {
    headings
      .filter((item) => item.depth !== 1)
      .map((item) => (
        <li
          class="prose prose-a:text-body-medium prose-a:text-on-secondary-container prose-a:no-underline"
          style={`padding-left: ${(item.depth - 2) * 12}px`}
        >
          <a class="outline-none transition-colors hover:text-primary focus:text-primary" href={`#${item.slug}`}>
            {item.text}
          </a>
        </li>
      ))
  }
</ul>
